@import "./css/fonts.css";

body {
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

.card-cv {
    width: 320px;
    height: 480px;
    border: solid 1px #FFFFFF;
    border-radius: 160px 0 160px 0;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.hero{
    min-height: 90vh;
}

.section {
    min-height: 100vh;
}

.container {
    @apply mx-auto;
}