body {
    font-family: IMB Plex Sans, sans-serif;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
}

.bg-main {
    background-color: #292F36;
}

.bg-dark {
    background-color: #1A1E23;
}

.bg-primary {
    background-color: #F78E12;
}

.primary-color {
    color: #F78E12;
}

.bg-secondary {
    background-color: #FAD898;
}

.secondary-color {
    color: #FAD898;
}

.text-white {
    color: #FFFFFF;
}